In [1]:
my_set={1,2,3}

In [2]:
print(my_set)

{1, 2, 3}

In [3]:
my_set={5.654,"Python",(1,2,3)}#Set can have only float int tuple string values as set's elements are immutable 
#but set itself is mutable

In [4]:
print(my_set)

{5.654, (1, 2, 3), 'Python'}

In [5]:
my_set={1.123,"python",[1,2,3] }
#This code will give error as we know that the element of set is immutable and list is mutable
#so [1,2,3] can't be a element in set

TypeError: ignored

In [7]:
my_set=([1,2,3]) #Here {} is not used so that why it is considered as list
print(my_set)
type(my_set)

[1, 2, 3]

list

In [8]:
a={} #here empty {} will define dictionary to define set we have to use set function
print(a)
type(a)

{}

dict

In [9]:
a=set()
print(a)
type(a)

set()

set

In [10]:
my=set([1,2,3]) #Here it is accepting list but treating the each element of list as the element of set
print(my)
type(my)

{1, 2, 3}

set

In [11]:
my=set()
my.add(2)
my

{2}

In [12]:
my.add(2) #set does not have duplicate value
my

{2}

In [13]:
my.update([1,2,3])
my

{1, 2, 3}

In [14]:
my.update({1,2,3}, {1,6,8})
my #update will update more than 1 element at time and add will add 1 element in set

{1, 2, 3, 6, 8}

In [15]:
my.remove(4) #Remove will remove the element but if the element is not present in set then it will show a traceback
my.discard(4) #discard also remove the element but if the element is not present in set then also it doesnt show any message or traceback

KeyError: ignored

In [16]:
my.discard(3)
my

{1, 2, 6, 8}

In [17]:
my.pop()

1

In [18]:
my=set("HelloWorld")
my

{'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [19]:
my.clear()
print(my)

set()

In [20]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print(A|B) # | is for union

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [22]:
print(A)
print(B)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [23]:
print(A&B) # & is for intersection

{4, 5}

In [24]:
A.intersection(B)

{4, 5}

In [25]:
print(A-B) # - is for difference

{1, 2, 3}

In [26]:
A.difference(B)

{1, 2, 3}

In [27]:
print(A^B) # ^ is for symmetric difference

{1, 2, 3, 6, 7, 8}

In [29]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [30]:
print(1 in A) #This shows that sets are iterable

True

In [31]:
my=set("Prakhar Jain")
for letter in my:
  print(letter)

h
k
r
a
P
i
J
n

In [32]:
my=set("Acropolis")
for letter in my:
  print(letter)

p
r
c
o
l
A
i
s

In [33]:
my=set("banana")
for letter in my:
  print(letter)

a
n
b